:root { 
--white_A700_4c:#ffffff4c; 
--white_A700_e5:#ffffffe5; 
--blue_gray_100:#d9d9d9; 
--green_400_7f:#3fcc807f; 
--light_blue_600:#089df1; 
--light_blue_500:#009dff; 
--light_blue_500_01:#08abf1; 
--black_900_0c:#0000000c; 
--gray_200:#efefef; 
--green_400:#40cd81; 
--white_A700_33:#ffffff33; 
--white_A700_99:#ffffff99; 
--black_900_01:#0a0a0a; 
--blue_400_7f:#55a3ff7f; 
--black_900:#000000; 
--indigo_A700:#082df1; 
--white_A700_19:#ffffff19; 
--blue_gray_900:#323232; 
--white_A700:#ffffff; 
}